*{
    box-sizing: border-box;
}
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 15px 30px;
    font size: 17 px;
    padding : 8px;
}
.container{
background-color: #f2f2f2;
padding: 5px 20px 15px 20px;
border: 1px solid lightgray;
border-radius: 5px;
}
input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="date"],
select, textarea{
 width: 100%;
padding: 12px;
border: 1px solid #ccc;
border-radius: 5px ;
margin: 5px;
}

fieldset{
    background-color: #fff;
    border: 1px solid #ccc;
}
/* .payform{
    text-align: center;
    color: auto;
} */
input[type="submit"]{
    background-color: #0AA1DD;
    color: white;
    padding:12px 20px;
    border: 1px;
    border-radius:4px;
    cursor: pointer;
    width: 100%;
}
input[type="submit"]:hover{
   background-color:#2155CD;
}
.coninfo{
    color: #2155CD;
}