
*{
    font-family: "Monserrat", sans-serif;
    box-sizing: border-box;
}
/* Add a background color to the top navigation */
.topnav {
background-color: #333;
overflow: hidden;
}
/* Style the links inside the navigation bar */
.topnav a{
    float: left; 
    /* yaha par float property samajh nhi aaya */
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
/* Change the color of links on hover */
.topnav a:hover{
    background-color: #ddd;
    color: black;
}
/* Add a color to the active/current link */
.topnav a.active{
    background-color: #0AA1DD;
    color: white;
}

body{
    margin:0;
    padding:0;
}
.hero{
    position:relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero::before{
    content:"" ;
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: url(image/usman-yousaf-pTrhfmj2jDA-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    filter: brightness(60%);
}
.hero-content{
    position: relative;
}
.hero-content {
    position: relative; 
    font-family: "Monserrat", sans-serif;
    color: white;
    text-align: center;
    margin: 0.625rem;
}
.hero-title {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 0;
}
.hero-subtitle {
    font-size: 2rem;
    font-weight: 200;
    margin-top: 1rem;
}
.hero-button {
    background-color: #ae2d59;
    color: white;
    border: 1px solid #cb376a;
    margin-top: 5rem;
    padding: 0.9375rem 1.875rem;
    font-family: "Monserrat", sans-serif;
    font-size: 1.125rem;
    font-weight: 200;
    cursor: pointer;
}
a:link {
   text-decoration: none;
   }
a:visited {
   text-decoration: none;
   }
a:hover { 
  text-decoration: none;
 }
a:active { 
  text-decoration: none;
 }
.hero-button:hover {
    background-color: #cb376a;
    border: 1px solid #db7598;
}
.sectitle{
  align-content: center;
}
/* card ka section */
* {
    box-sizing: border-box;
  }
  
  
  .column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding in columns */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
  }
  
  /* Responsive columns - one column layout (vertical) on small screens */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
      color: black;
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
  }
  
  /* Add rounded corners to the top left and the top right corner of the image */
  img {
    border-radius: 5px 5px 0 0;
  }
  /* ye section testinomial ka hai */
/* Style the container with a rounded border, grey background and some padding and margin */
.container {
    border: 2px solid #d0e7eb;
    background-color: #eff3f4;
    border-radius: 5px;
padding: 16px;
    margin: 16px 0;
  }
  
  /* container ka float clear karna hai */
   .container::after {
    content: "";
    clear: both;
    display: table;
  } 
  
  /* Float images inside the container to the left. Add a right margin, and style the image as a circle */
  .container img {
    float: left;
    margin-right: 20px;
    border-radius: 50%;
  }
  
  /* Increase the font-size of a span element */
  .container span {
    font-size: 20px;
    margin-right: 15px;
  }
  
  /* Add media queries for responsiveness. This will center both the text and the image inside the container */
  @media (max-width: 500px) {
    .container {
      text-align: center;
    }
  
    .container img {
      margin: auto;
      float: none;
      display: block;
    }
  }

input[type="submit"]{
    background-color: rgb(98, 215, 145);
    color: white;
    padding:12px 20px;
    border: 1px;
    border-radius:4px;
    cursor: pointer;
    width: 100%;
}
.coninfo{
    color: rgb(29, 84, 84);
}
#footer{
  background-color: #123075;
  padding: 30px 20px;
  color: white;
  text-align: center;
}
.testimonials{
    color: black;
}
.services{
    color:black;
}
